.Head {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

}

.black{
  filter: brightness(85%);
  z-index: -1; 
}

.tex{
  grid-column: 1/2;
  grid-row: 1/2;
}

.center{
  text-decoration: underline;
  text-align: center;
  color: white;
  font-family:'Modern 20';
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 5px;
}

@font-face {
  font-family: 'Modern 20';
  src: local('Modern 20'), url(./Modern No. 20.ttf) format('truetype');
}